.promo-update-input {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.icon-input {
  margin-right: 1px;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
}

.lds-facebook {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #e20074;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media only screen and (min-width: 768px) {
  #input-with-sx {
    width: 500px;
  }
}

.mandatory-fields {
  color: red;
  font-size: 12px;
  margin-bottom: 20px;
}

.table-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #eeeeee;
}

.search {
  border-radius: 50px;
  padding: 10px;
}

.table-filter-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
}

.about-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-header span {
  font-size: 12px;
  color: gray;
}

.about-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mass-update-header {
  margin-bottom: 10px;
}

.mass-update-info {
  margin-bottom: 10px;
}

.card-about {
  font-weight: 500;
  transition: all 3s ease-out;
  border: 1px solid black;
  cursor: pointer;
}

.card-about:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  background-color: #e20074;
  color: white !important;
}
